@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: lato, sans-serif;
  background: #54575A;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
}

.wrapper {
  position: relative;
  width: 1440px;
  height: 1400px;
  margin: auto;
}

.brand-img {
  position: absolute;
  width: 193px;
  height: 47.63773727416992px;
  top: 50.2525634765625px;
  left: 221px;
}

.title {
  position: relative;
  width: 458px;
  height: 135px;
  top: 236px;
  left: 221px;
  font-size: 64px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  top: 403px;
  left: 221px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.app-store-btn {
  position: absolute;
  width: 138.44346618652344px;
  height: 46.277523040771484px;
  top: 531px;
  left: 221px;
}

.app-store-btn img {
  width: 138.44346618652344px;
  height: 46.277523040771484px;
}

.google-play-btn {
  position: absolute;
  width: 156.18612670898438px;
  height: 46.27737045288086px;
  top: 531px;
  left: 381.8138732910156px;
}

.google-play-btn img {
  width: 156.18612670898438px;
  height: 46.27737045288086px;
}

.main-image-container {
  position: absolute;
  width: 535.7173461914062px;
  height: 309.2696533203125px;
  top: 229.7303466796875px;
  left: 683.28271484375px;
  padding: 0px 0px 0.000003520291102176998px 0px;
}

.main-image-container img {
  height: 411.15px;
}

.profile-img {
  position: absolute;
  width:  270.00000000000006px;
  height: 444.0000000000001px;
  top: 686px;
  left: 737.0001220703125px;
  position: 0 deg;
}

.product-img {
  position: absolute;
  width:  270.00000000000006px;
  height: 244.0000000000001px;
  top: 1157px;
  left: 737px;
  position: 0 deg;
}

.orders-img {
  position: absolute;
  width:  270.00000000000006px;
  height: 470.0000000000001px;
  top: 913px;
  left: 479px;
  position: 0 deg;
}

.cart-img {
  position: absolute;
  width:  270.00000000000006px;
  height: 244.0000000000001px;
  top: 1157px;
  left: 221px;
  position: 0 deg;
}

.home-img {
  position: absolute;
  width: 270.00000000000006px;
  height: 470.0000000000001px;
  top: 908px;
  left: 995px;
  position: 0 deg;
}

/* Background Toggles */
.background-toggles {
  position: absolute;
  right: 150px;
  top: 70px;
  display: flex;
}

.background-toggles > div {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Backgrounds */
.background-1 {
  background-color: #f3f2f3;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cccbce' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
  background-image: linear-gradient(to bottom, #cfd9df 0%, #e2ebf0 100%);
}

.background-3 {
  background-image: linear-gradient( to bottom, #93a5cf 0%, #e4efe9 100%);
}